/* HEADINGS & PARAGRAPHS*/
h1, h2
{
    font-size: 20px;
    color: turquoise;
    font-family: verdana;
    text-transform: none;
    margin-bottom: 0px;
    font-weight: bold;
}

p {
    font-family: verdana;
    font-size: 15px;
  }
  

/* BUTTON */
button:hover {
    cursor: pointer;
}

/* BODY */
body {
    background-color: whitesmoke;
  }
 
/* Title */
.header 
{
    text-align: center;
    font-weight: bold;
    border: double; 

}

.converters 
{
    text-align: center;
    border-bottom: dashed;
    display: inline-block;
    width: 22%;
    height: 250px;
    margin: 1.2%;
    vertical-align: top
}

footer {
    text-align: center;
    padding: 10px
}

@media screen and (max-width: 992px) {
    .converters {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .converters {
        width: 45%
    }
}

@media screen and (max-width: 480px) {
    .converters {
        display: block;
        width: 90%;
        margin: auto;
    }
}
